<div class="body">
    <table>
        <th>PIZZA</th>
        <tr>
            <td>ALFRED</td>
            <td>RD$345.00</td>
        </tr>
        <ul>Salsa Alfredo, hongos, cebolla, queso suizo, mozzarella y gouda</ul>
        <img src = "../assets/pizza alfredo.jpg">
        <tr>
            <td>BUFFALO CHICKEN</td>
            <td>RD$300.00</td>
        </tr>
        <ul>Queso mozzarella, salsa blue cheese, puerro y buffalo chicken</ul>
        <img src = "../assets/pizza buffalo.jpg">
      <tr>
            <td>CAPRICHOSA</td>
            <td>RD$440.00</td>
        </tr>
        <ul>Salsa pomodoro, mozzarella, hongos, aceitunas, pimientos rojos, cebolla, jamón y pepperoni</ul>
        <img src = "../assets/pizza caprichosa.jpeg">
        <tr>
            <td>CELIA CRUZ</td>
            <td> RD$375.00</td>
        </tr>
        <ul>Salsa alioli, pierna de cerdo, mostaza, prosciutto, pepinillo y queso provolone</ul>
        <img src = "/assets/pizza proscutto.jpg">
      <tr>
            <td>CHIMI PIZZA</td>
            <td> RD$325.00</td>
        </tr>
        <ul>Carne molida, repollo, tomate, cebolla, maíz, recaito y aderezo rosado</ul>
        <img src = "/assets/pizza chimi.jpg">
        <tr>
            <td>CUATRO ESTACIONES</td>
            <td>RD$390.00</td>
        </tr>
        <ul>Salsa pomodoro, tomate, champiñones, alcachofa, prosciutto, pimientos morrones, queso mozzarella y aceitunas negras</ul>
        <img src = "/assets/pizza cuatro estaciones.jpg">
    <tr>
            <td>HAWAIANA</td>
            <td> RD$325.00</td>
        </tr>
        <ul>Salsa pomodoro, queso mozzarella, piña y jamón</ul>
        <img src = "/assets/pizza hawaiana.jpg">
        <tr>
            <td>JAMÓN Y MAÍZ</td>
            <td>RD$335.00</td>
        </tr>
        <ul>Salsa pomodoro, queso mozzarella, jamón y maíz</ul>
        <img src = "/assets/pizza jamon y maiz.jfif">
    <tr>
            <td>MAC N CHEESE</td>
            <td>RD$310.00</td>
        </tr>
        <ul>Mac and cheese, tocineta, queso y perejil</ul>
        <img src = "/assets/pizza mac and cheese.jpg">
        <tr>
            <td>VEGETARIANA</td>
            <td>RD$325.00</td>
        </tr>
        <ul>Salsa pomodoro, mozzarella, hongos, aceitunas, pimientos rojos, zucchini, espinaca, cebolla y aceitunas</ul>
        <img src = "/assets/pizza vegetariana.jfif">
        <tr></tr>
   
        <th>CALZONES</th>
        <tr>
            <td>MOZZARELLA & ESPINACA</td>
            <td> RD$290.00</td>
        </tr>
        <img src = "/assets/calzone espinaca.jpg">
        <tr>
            <td>PEPPERONI</td>
            <td>RD$340.00</td>
        </tr>
        <img src = "/assets/calzone pepperoni.png">
        <tr>
            <td>VEGGIE LOVERS</td>
            <td> RD$300.00</td>
        </tr>
        <img src = "/assets/calzone vegetales.jpg">
   
        <th>SWEET CALZONES</th>
        <tr>
            <td>CREMA DE AVELLANAS</td>
            <td>RD$195.00</td>
        </tr>
        <img src = "/assets/calzone avellanas.jfif">
       
        <tr>
            <td>CREMA DE AVELLANAS & FRESAS</td>
            <td>RD$285.00</td>
        </tr>
        <img src = "/assets/calzone fresas.jpg">
        <tr>
            <td>DULCE DE LECHE </td>
            <td> RD$160.00</td>
        </tr>
        <img src = "/assets/calzone dulce.jpg">
        <tr>
            <td>DULCE DE LECHE & CREMA DE AVELLANAS</td>
            <td> RD$215.00</td>
         </tr>
         <img src = "/assets/calzone dulce 2.jpg">
         <tr>
            <td>FRESAS & CREAM CHEESE</td>
            <td>RD$195.00</td>
         </tr>
         <img src = "/assets/calzone cream cheese.jfif">
         <tr>
            <td>MANTEQUILLA DE MANÍ & CREMA DE AVELLANAS</td>
            <td>RD$240.00</td>
        </tr>
        <img src = "/assets/calzone mantequilla.jpg">
      <tr></tr>
        <th>SÁNDWICHES</th>
        <tr>
            <td>BBQ RIB SÁNDWICH</td>
            <td>RD$560.00</td>
        </tr>
        <ul>Costillas de cerdo con salsa BBQ, crocantes aros de cebolla frita, queso cheddar y danés en pan baguette. Acompañado de papas wedge.</ul>
        <img src = "/assets/sandwich bbq.jfif">
        <tr>
            <td>MEATBALL SÁNDWICH</td>
            <td>RD$245.00</td>
        </tr>
        <ul>Albóndigas en pan francés a la leña con salsa pomodoro y queso mozzarella</ul>
        <img src = "/assets/sandwich meatball.jpg">
        <tr>
            <td>PARMESAN SÁNDWICH</td>
            <td> RD$265.00</td>
        </tr>
        <ul>Pechuga de pollo empanizada en pan francés a la leña con queso mozzarella y
    salsa pomodoro</ul>
        <img src = "/assets/sandwich parmesan.jpg">  
        <tr>
            <td>PORKBELLY CUBANO</td>
            <td>RD$275.00</td>
        </tr>
        <ul>Crujiente chicharrón de cerdo en pan francés a la leña con queso suizo, mostaza, salsa rosada, sriracha y pepinillo rebanado</ul>
        <img src = "/assets/sandwich porkbelly.jpg">
    <tr></tr>
        <th>PASTAS</th>
        <tr>
            <td>BAKED ZITI</td>
            <td>RD$415.00</td>
        </tr>
        <ul>Penne al dente preparado con una deliciosa salsa marinara, queso ricotta, mozzarella y parmesano, con un toque de albahaca, acompañado de focaccia especial de la casa</ul>
        <img src = "/assets/pasta baked ziti.jpeg">
        <tr>
            <td>CHICKEN PENNE VODKA</td>
            <td>RD$310.00</td>
        </tr>
        <ul>Penne al dente preparado con pechuga de pollo salteada en vodka, ajo, albahaca y tomates, cubierto con masa de pizza a la leña</ul>
        <img src = "/assets/pasta chicken penne.jpg">
        <tr>
            <td>FETTUCCINE CON LANGOSTA</td>
            <td>RD$385.00</td>
        </tr>
        <ul>Fettuccine al dente preparado con masa de langosta en salsa de vino, ajo, crema de leche, albahaca y tomate, cubierto con masa de pizza horneada a la leña</ul>
        <img src = "/assets/pasta lobster.jpg">
        <tr>
            <td>LINGÜINI CON SALMÓN</td>
            <td> RD$500.00</td>
        </tr>
        <ul>Linguini al dente preparado con salmón fresco, cebolla, ajo, salsa bechamel y albahaca, cubierto con masa de pizza horneada a la leña</ul>
        <img src = "/assets/pasta salmon.jfif">
        <tr>
            <td>PENNE CON FILETE DE RES</td>
            <td>RD$375.00</td>
        </tr>
        <ul>Penne al dente preparado con jugoso filete de res salteado con hongos, cebolla, pimientos, vino blanco y crema leche, cubierto con masa de pizza horneada a la leña</ul>
        <img src = "/assets/pasta res.jpg">
    <tr></tr>
        <th>RISOTTOS</th>
        <tr>
            <td>GUANDULES & CARNE MECHADA</td>
            <td>RD$525.00</td>
        </tr>
        <ul>Envoltini de plátano maduro empanizado relleno de carne mechada sobre un delicioso risotto de guandules con salsa 4 quesos</ul>
        <img src = "/assets/risotto gandules.jpg">
        <tr>
            <td>HABICHUELAS NEGRAS &  PORKBELLY </td>
            <td>RD$480.00</td>
        </tr>
        <ul>Envoltini de plátano maduro empanizado relleno de porkbelly sobre un delicioso risotto de habichuelas negras</ul>
        <img src = "/assets/risotto habichuelas.jpg">
        <tr>
            <td>PAISA</td>
            <td>RD$655.00</td>
        </tr>
        <ul>Delicioso risotto de habichuelas rojas acompañado de chicharrón, aguacate,
    envoltini de plátano maduro relleno de carne molida, chorizo, huevo y arepa.
    </ul>
    <img src = "../assets/risottopaisa.jpg">
    <tr></tr>
        <th>CORTES DE CARNE</th>
        <tr>
            <td>CULOTTE</td>
            <td>RD$695.00</td>
        </tr>
        <img src = "/assets/culotte.jpg">
        <tr>
            <td>FLAP MEAT</td>
            <td>RD$490.00</td>
      </tr>
      <img src = "/assets/flap meat.jpg">
     <tr>
            <td>RIB EYE</td>
            <td>RD$950.00</td>
     </tr>
     <img src = "/assets/rib eye.jpeg">
     <tr>
            <td>STRIP LOIN</td>
            <td>RD$810.00</td>
     </tr>
     <img src = "/assets/strip loin.jpg">
    <tr></tr>
        <th>GARLIC KNOTS</th>
        <tr>
            <td>CHICKEN GARLIC KNOTS</td>
            <td>RD$240.00</td>
        </tr>
        <img src = "/assets/chickengarlicknots.jpg">
        <tr>
            <td>MOZZARELLA</td>
            <td> RD$180.00</td>
      </tr>
      <img src = "/assets/mozzarellagarlicknots.png">
     <tr>
            <td>PARMESAN</td>
            <td>RD$150.00</td>
     </tr>
     <img src = "../assets/parmesangarlicknots.jpg">
    </table>
    </div>
  
  